* {
  margin: 0;
  padding: 0;
}
.drinkform-div{
  background-image: url("../Images/alcoholbottles.jpg"); 
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 500vh;
  opacity: .9;
}

/* #drinks{
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 25px;
  grid-column-gap: 25px;
 } */
.drink{
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: white;
}

.hay3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.drink img{
  margin: 0 2rem;
  width: 20rem;
  border: solid 20px;
}
