
* {
  margin: 0;
  padding: 0;
}

#drinkspics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  place-items: center;
  padding-top: 50px;
}

.drinkform-div{
  background-image: url("../Images/alcoholbottles.jpg"); 
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 500vh;
  opacity: .9;
}

#drinkpics:hover {
  transform: scale(1.2);
  z-index: 1;
}

.drink{
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: #d7ccc8;
  background-color: white;
  
}

.drink img{
  margin-top: 0;
  width: 100%;
  height: 100%;

}

.namebox {
  width: 100px;
  color: white;
  text-shadow: black;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 1.5rem;
  display: inline;
}

.hay3 {
  color: grey;
  width: 200px;
  margin: 0 auto;

}

.moredrinks {

}
#front {
  display: grid;
  place-items: center;
  text-decoration: none;
  
}

h2 {
  margin-top: 50px;
  font-size: 2rem;
  color: black;
}

input {
  border: 3px solid lightgray; 
  height: 60px;
  width: 55%;
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
font-size: 20px;
outline: none;
border-radius: 22px;
background: url("search.png") no-repeat scroll 7px 7px;
background-size: 25px;
background-position: 10px;;
padding-left: 40px;
}

input:hover {
  
  width: 56%;
}


#surprise{
  margin-top: 10px;
 height: 50px;
  width: 25%;
  text-align: center;
  display: grid;
  place-items: center;
  background-color: lightgray;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 22px;
  font-size: 20px;
}
#surprise:hover {
  height: 53px;
  width: 26%;

}
 link {
  text-decoration: none;
  
}

#drinks {
  display: grid;
  width: 150px;
}


 
  @media screen and (max-width: 700px) {
    #surprise {
      font-size: 13px;
    }
  }
